
@{
    ViewData["Title"] = "My Suburb";
    var prefSub = ViewBag.PrefSub as IEnumerable<PreferredSuburb>;
}

<div class="">

    <div class="d-flex">

        <h6 class="fw-bold">My Preffered Suburbs</h6>

        <div class="ms-auto">
            <a asp-action="PrefSuburb" asp-controller="Nurse" class="btn btn-success btn-sm" >Add A Suburb</a>

        </div>
    </div>
   <div class="px-4">
       
       <h6>Here Are My Preffered Suburbs</h6>
        @if (prefSub.Count() != null)
        {
            
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Suburb Name</th>
                    <th>City </th>
                    <th>Postal Code </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in prefSub)
                {
                    <tr>
                        <td>@sub.Suburb?.Name</td>
                        <td>@sub.Suburb?.City?.Name</td>
                        <td>@sub.Suburb?.PostalCode </td>
                        <td>
                                <a class="btn btn-danger btn-sm" title="Remove Suburb" asp-action="DeleteSuburb" asp-controller="Nurse" asp-route-Id="@sub.SuburbID">
                          <i class="bi bi-shield-x"></i>
                          </a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info center">

                No Selected Suburb Yet... Please select Suburb to work with us.
            </div>
        }
    </div>
</div>

