@model HelpingHands.Models.ViewModels.AddArriveTimeViewModel
@{
    ViewData["Title"] = "UpdateArriveTime";
}

<div class="card">
    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Update Visit Arrive Time</p>

        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="" asp-controller="">Back</a>

        </div>
    </div>

    <div class="col-12 card-body">
        <form asp-action="SumbitArriveTime" asp-controller="Nurse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CareVisitId" hidden />
            <div class="form-group">
                <label class="form-label">Axtimate Time</label>
                <input class="form-control" asp-for="VisitArriveTime" type="time" />
                <span class="text-danger" asp-validation-for="VisitArriveTime"></span>
            </div>

            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Update Time" class="btn btn-success" />
                </div>
            </div>

        </form>
    </div>
</div>

