@{
    ViewData["Title"] = "Index";
}


<div class="container">




    <h4>Patient Dashboard</h4>
    <div class="card">
      <div class="card-body">
         <div class="row">
                <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-success fs-1">
                           <i class="bi bi-geo-fill"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3>23</h3>
                             <p>Total Visits</p>
                        </div>

                    </div>
                </div> 
              <div class="col-3 bg-white rounded-1 shadow-sm  small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-warning fs-1">
                            <i class="bi bi-mailbox"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3>2</h3>
                             <p>New Contracts</p>
                        </div>

                    </div>
                </div> 
               <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-danger fs-1">
                           <i class="bi bi-bandaid-fill"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3>10</h3>
                             <p>Total Patients</p>
                        </div>

                    </div>
                </div> 
            <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-primary fs-1">
                          <i class="bi bi-envelope-paper"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3>4</h3>
                             <p>new emails</p>
                        </div>

                    </div>
                </div> 
             
         </div>
          
      </div>
        
    </div>
</div>
</div>