@{
    ViewData["Title"] = "Index";
}


<div class="container">

    <div class="row text-center">

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/patient1.png" class="card-img-top text-center" alt="..." style="width:260px;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Care Contracts</h5>
                    <p class="card-text">Create care contracts and view contracts that you created.</p>
                    <a href="#" class="btn btn-secondary">Care Contracts</a>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <img src="~/img/Visit.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Care Visits</h5>
                    <p class="card-text"> See your care visits made by your favorite nurses.</p>
                    <a href="#" class="btn btn-secondary">See Visits</a>
                </div>
            </div>
        </div>
        <div class="col-4 ">

            <div class="card" style="width: 18rem;">
                <img src="~/img/Date_Patient.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Set Appoitment</h5>
                    <p class="card-text">Set check up  with Helping Hands and let us heal you</p>
                    <a href="#" class="btn btn-secondary">Set Appoitnment</a>
                </div>
            </div>
        </div>

    </div>
        





</div>