@model HelpingHands.Models.ViewModels.UpdatePasswordViewModel;
@{
    ViewData["Title"] = "UpdatePassword";
}

<div class="card">

    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Update Profile</p>

        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="PatientProfile" asp-controller="Profile">Back</a>

        </div>
    </div>

    <div class="card-body">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-action="SubmitUpdatePassword" method="post">
            <div class="form-group">
                <label asp-for="OldPassword" class="required">Old Password</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="required">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="required">Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Update Password" class="btn btn-success" />
                </div>
            </div>
        </form>

    </div>
</div>