@model HelpingHands.Models.ViewModels.AddChronicVM
@{
    ViewData["Title"] = "Add Condition";
}

<div class="card">
    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Add New Condition</p>

        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="ChronicCondition" asp-controller="Chronic">Back</a>

        </div>
    </div>
    
    <div class="col-12 card-body">
        <form asp-action="SubmitCondition" asp-controller="Chronic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" id="Name" name="Name" required asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea cols="8" rows="8" type="text" class="form-control" asp-for="Description"> </textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>


            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Add Condition" class="btn btn-success" />
                </div>
            </div>

        </form>
    </div>
</div>