@model IEnumerable<HelpingHands.Models.ChronicCondition>
@{
    ViewData["Title"] = "Chronic Condition";
}

<div class="d-flex mb-3">

    <h5>Chronic Conditions</h5>

    <div class="ms-auto">

        <a asp-action="AddCondition" asp-controller="Chronic" class="btn btn-success">New Condition</a>
    </div>

</div>
<div class="p-3">
    <table class="table table-striped table-sm small-text" id="conditionTable">
        <thead class="thead-dark">
            <tr>
                <td style="width:3%;">Name</td>
                <td class="no-sort" >Description</td>
                <td class="no-sort" style="width:8%;">

                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="text-wrap">
                        @item.Description
                    </td>
                    <td>
                        <a class="btn btn-warning rounded-3 small-btn" asp-controller="Chronic" asp-action="EditCondition" asp-route-id="@item.ChronicID">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-danger rounded-3 small-btn delete-btn" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-item-id="@item.ChronicID">
                            <i class="bi bi-trash3"></i>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="fs-1 text-danger">
                    <i class="bi bi-trash3-fill"></i>
                </div>
                <p>Are You Sure My Delete This Chronic Condition??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteBtn">Delete </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        $("#conditionTable").DataTable({
            "scrollY": "420px",
            "scrollCollapse": true,
            "rowReorder": true,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 'no-sort'
                }
            ],
        });

        $('#conditionTable tbody').on('click', '.delete-btn', function ()
        {
            var itemId = $(this).data('item-id');
            console.log(itemId);
            $('#deleteBtn').data('item-id', itemId);
        });
        $("#deleteBtn").click(function () {
            var chronicID = $(this).data('item-id');

            console.log(chronicID);

            $.ajax({
                url: "/Chronic/DeleteCondition/" + chronicID,
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',

                success: function () {
                    window.location.href = "/Chronic/ChronicCondition";
                },
                error: function () {
                    alert("Error while deleting user");
                    console.log(chronicID);
                }
            });
        });
    });
</script>