@model IEnumerable<HelpingHands.Models.Suburb>
@{
    ViewData["Title"] = "GetSuburbs";
}

<div class="container">

    <h5 class="mb-4 fw-bold"> View Nurse By Suburbs </h5>
    
    <table class="table table-sm small-text" id="suburbTable">
        <thead>
 
          <tr>

              <th>
                  Suburb Name   
             </th>
             <th>
                  Postal Codes
             </th>
             <th>
                  City
             </th>
             <th>
                 Action
             </th>
          </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
             {
              <tr>
               

                  <td>
                      @item.Name

                 </td>
                 <td>
                     @item.PostalCode
                 </td>
                 <td>
                     @item.City.Name
                 </td>
                 <td>

                     <a asp-action="NursesBySuburb" asp-controller="OfficeManager"  asp-route-Id="@item.SuburbID" class="btn btn-primary small-btn">
                         Show Nurses
                     </a>
                 </td>
             </tr>
             }
        </tbody>

    </table>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        $("#suburbTable").DataTable({
            "order": [[2, "asc"]]
        });
     
    });
</script>