@model HelpingHands.Models.Suburb
@{
    ViewData["Title"] = "NursesBySuburb";
}


<div class="container">

    <div class="col-4">

        @foreach(var name in Model.PreferredSuburbs){

            <h1>
                @name.Suburb.Name
         
            </h1>
            <h4>

                @name.Nurse.FirstName
            </h4>

            <h4>

               
            </h4>
        }
    </div>
</div>

