@model HelpingHands.Models.Suburb
@{
    ViewData["Title"] = "NursesBySuburb";
}


<div class="container">

    <div class="col-4">

       <h1> @Model.Name </h1>
        @foreach(var name in Model.PreferredSuburbs){

            <h4>

                @name.Nurse.FirstName
            </h4>

            <h4>

               
            </h4>
        }
    </div>
</div>

