@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}


 <div class="bg-greyish p-4 rounded-2">

  <div class="row">

   <div class="col-6 mt-5">
       <h1 style="font-size:54px; font-weight:600;">Helping Hands</h1>
       <p class="mt-3">At Helping Hands, we firmly believe that every individual
           deserves support and care during their most vulnerable moments.
           Our dedicated team of medical professionals
            and volunteers work tirelessly to provide a safe and nurturing environment for those in need.</p>
        <a class="btn bg-black text-white rounded-1 px-2  btn-lg w-50 mt-3">Join Us</a>
   </div>
   <div class="col-6">
       <img src="~/img/injury-cuate.png" class="w-75">
   </div>
    </div>

 </div>

 @if (ViewBag.FAQ != null)
{
 <div class="mt-5 px-2">
     
     <h4 class="text-center fw-bold mb-5">Frequanty asked questions about us</h4>

        @foreach (var faq in ViewBag.FAQ)
        {
            
            <div class="accordion" id="accordionExample">
                @{
                   i++;
                }
				<div class="accordion-item">
					<h2 class="accordion-header" id="@faq.ID">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							@faq.Question
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							@faq.Answer
						</div>
					</div>
				</div>
			</div>
        }
    </div>
}
else
{
    
}


<script>
    $('#accordionExample .collapse').each(function () {
        new bootstrap.Collapse(this, { toggle: false }).show();
    });
</script>