@model HelpingHands.Models.ViewModels.AddUserViewModel

@{
    ViewData["Title"] = "Add User";
}

<div class="card">
    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Add new user</p>

        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="Users" asp-controller="Admin">Back</a>

        </div>
    </div>

    <div class="col-12 card-body">
        <form asp-action="SubmitUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }

                <div class="form-group col-6">
                    <label asp-for="FirstName" class="control-label required"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="LastName" class="control-label required"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Email" class="control-label required"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CellNo" class="control-label required"></label>
                    <input asp-for="CellNo" class="form-control" maxlength="10" />
                    <span asp-validation-for="CellNo" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="UserType" class="control-label required"></label>
                    <select asp-for="UserType" class="form-select">
                        <option value="">Select User Type</option>
                        <option value="O">Office Manager</option>
                        <option value="N">Nurse</option>
                    </select>
                                         
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label required"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label required"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Add User" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>



