@model HelpingHands.Models.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Update User";
}

<div class="card">
    <div class="card-header d-flex">

        <p class="text-uppercase pt-1">Update User</p>

        <div class="ms-auto">

            <a class="btn btn-danger" asp-action="Users" asp-controller="Admin">Back</a>

        </div>
    </div>

    <div class="col-12 card-body">
        <form asp-action="UpdateUser" asp-controller="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <input asp-for="@Model.UserID" hidden />
                <input asp-for="@Model.UserType" hidden />
                <div class="form-group col-6">
                    <label asp-for="FirstName" class="control-label required"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="LastName" class="control-label required"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Email" class="control-label required"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CellNo" class="control-label required"></label>
                    <input asp-for="CellNo" class="form-control" />
                    <span asp-validation-for="CellNo" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="UserType" class="control-label required"></label>
                    <input value="@ViewBag.RoleName" class="form-control" disabled />
                        
                </div>
            </div>
            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Update User" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

