
@{
    ViewData["Title"] = "Index";
   
}


<div class="container">




    <h4>Admin Dashboard</h4>

         <div class="row">
                <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-success fs-1">
                           <i class="bi bi-people"></i>
                        </div>
                                                                                            
                         <div class="ms-auto text-center">
                           
                        
                             <h3>@ViewBag.CountUsers </h3>
                           
                             <p>Total Users</p>
                        </div>
    
                    </div>
                </div> 
              <div class="col-3 bg-white rounded-1 shadow-sm  small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-warning fs-1">
                            <i class="bi bi-geo-alt-fill"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3> @ViewBag.CountCities </h3> 
                             <p>Cities</p>
                        </div>

                    </div>
                </div> 
               <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-danger fs-1">
                          <i class="bi bi-hospital"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3> @ViewBag.CountChronicCon </h3>
                             <p>Chronic Conditions</p>
                        </div>

                    </div>
                </div> 
            <div class="col-3 bg-white rounded-1 shadow-sm small-margin">
                    <div class="d-flex p-2">
                        <div class="fw-bold text-primary fs-1">
                          <i class="bi bi-envelope-paper"></i>
                        </div>
                         <div class="ms-auto text-center">
                             <h3>0</h3>
                             <p>new emails</p>
                        </div>

                    </div>
                </div> 
             
         </div>
          
      
</div>
