
@{
    ViewData["Title"] = "Suburbs";
}

<div>
    <div class="row">
        <div class="col-6 text-center">
            
        </div>
        <div class="col-6">

        </div>
    </div>
</div>

