@model IEnumerable<HelpingHands.Models.Suburb>
@{
    ViewData["Title"] = "Suburbs";
}



<div class="d-flex mb-3">

  <h5>Suburbs We Support</h5>

  <div class="ms-auto">
      
  <a asp-action="AddSuburb" asp-controller="Suburb" class="btn btn-success">New Suburb</a>
  </div>
    
</div>
<div class="p-3"> 
<table class="table table-striped table-sm small-text" id="suburbTable">
    <thead class="thead-dark">
        <tr>
            <td>Name</td>
            <td>City</td>
            <td>Postal Code</td>
            <td class="no-sort">

            </td>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @item.Name
                    </td>
                    <td>
                        @item.City.Name
                    </td>
                    <td>
                        @item.PostalCode
                    </td>
                    <td>
                        <a class="btn btn-warning rounded-3 small-btn" asp-controller="" asp-action="">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-danger rounded-3 small-btn delete-btn" data-bs-toggle="modal" data-bs-target="#DeleteModal">
                            <i class="bi bi-trash3"></i>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>




<script>

    $(document).ready(function () {
        $("#suburbTable").DataTable({
             "scrollY": "420px",
            "scrollCollapse": true,
            "columnDefs": [
                    { "orderable": false, "targets": 'no-sort' }
            ]
        });

    });

</script>