<div class="dashboard-nav">

    @if (User.IsInRole("A"))
    {
        <header>
            <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
            <a href="#" class="brand-logo">
               <span>Admin</span>
            </a>
        </header>

        <nav class="dashboard-nav-list">
            <a asp-action="Index" asp-controller="Admin" class="dashboard-nav-item">
            <i class="bi bi-house"></i>
            Home
        </a>
        
        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
               <i class="bi bi-people"></i> Users
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a  asp-action="Users" asp-controller="Admin"
                   class="dashboard-nav-dropdown-item">All
               </a>
                <a href="#" class="dashboard-nav-dropdown-item">Active</a>
                <a href="#" class="dashboard-nav-dropdown-item">In Active</a>
             
            </div>
        </div>
        <div class='dashboard-nav-dropdown'>
              <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
              <i class="bi bi-building"></i> Manage Suburbs
            </a>
            <div class='dashboard-nav-dropdown-menu'>

                <a asp-action="Suburbs" asp-controller="Suburb" class="dashboard-nav-dropdown-item">
                    Suburbs
                </a> 
                <a asp-action="Cities" asp-controller="Suburb" class="dashboard-nav-dropdown-item">
                    Cities
                </a>
            </div>
        </div>
        
         <a href="#" class="dashboard-nav-item"> <i class="bi bi-gear"></i>Settings </a>
        <a href="#" class="dashboard-nav-item"><i class="bi bi-person-circle"></i> Profile </a>

           <div class="nav-item-divider"></div>
           <span class="mx-4"> <button type="submit" class="btn btn-danger w-75 btn-push-down"  data-bs-toggle="modal" data-bs-target="#LogOutModal"><i class="bi bi-box-arrow-in-right"></i> Log Out</button> </span>

        </nav>
    }
    else if(User.IsInRole("O"))
    {       <header>
                <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
                <a href="#" class="brand-logo">
                   <span>Office Manager</span>
                </a>
            </header>

        <nav class="dashboard-nav-list">
            <a asp-action="Index" asp-controller="OfficeManager" class="dashboard-nav-item">
            <i class="bi bi-house"></i>
            Home
        </a>
        
        <a asp-action="GetSuburbs" asp-controller="OfficeManager" class="dashboard-nav-item">
            
             <i class="bi bi-building"></i> Suburb
            
        </a>

        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="bi bi-person-hearts"></i> Nurses
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="#"
                   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
                                                                                                                               class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#" class="dashboard-nav-dropdown-item">Banned</a><a href="#" class="dashboard-nav-dropdown-item">New</a>
            </div>
        </div>
        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="bi bi-car-front"></i> Visits
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="#"
                   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
            </div>
        </div>
         <a href="#" class="dashboard-nav-item"> <i class="bi bi-gear"></i>Settings </a>
        <a href="#" class="dashboard-nav-item"><i class="bi bi-person-circle"></i> Profile </a>

           <div class="nav-item-divider"></div>
    
          <span class="mx-4"> <button type="submit" class="btn btn-danger w-75 btn-push-down" data-bs-toggle="modal" data-bs-target="#LogOutModal"><i class="bi bi-box-arrow-in-right"></i> Log Out</button> </span>
        </nav>
    }
    else if (User.IsInRole("N"))
    {
        <header>
            <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
            <a href="#" class="brand-logo">
               <span>Nurse</span>
            </a>
        </header>

        <nav class="dashboard-nav-list">
            <a href="#" class="dashboard-nav-item active`">
            <i class="bi bi-house"></i>
            Home
        </a>
        
        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="bi bi-calendar-heart"></i> Visits
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a  asp-action="" asp-controller=""
                   class="dashboard-nav-dropdown-item">All
               </a>
                <a href="#" class="dashboard-nav-dropdown-item">On-going Visits</a>
                <a href="#" class="dashboard-nav-dropdown-item">Upcoming Visits</a>
                <a href="#" class="dashboard-nav-dropdown-item">History Visits</a>
            </div>
        </div>
      
        <a href="#" class="dashboard-nav-item"> <i class="bi bi-gear"></i>Settings </a>
        <a href="#" class="dashboard-nav-item"><i class="bi bi-person-circle"></i> Profile </a>
        <div class="nav-item-divider"></div>

     
        <span class="mx-4"> <button type="submit" class="btn btn-danger w-75 btn-push-down" data-bs-toggle="modal" data-bs-target="#LogOutModal"><i class="bi bi-box-arrow-in-right"></i> Log Out</button> </span>
        </nav>
    }
    else if (User.IsInRole("P"))
    {
        <header>
            <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
            <a href="#" class="brand-logo">
               <span>Patient</span>
            </a>
        </header>

        <nav class="dashboard-nav-list">
            <a href="#" class="dashboard-nav-item">
            <i class="bi bi-house"></i>
            Home
        </a>
       
        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                 <i class="bi bi-boxes"></i> Contracts
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="#"
                   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Subscribed</a>
                   <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>
                   <a href="#" class="dashboard-nav-dropdown-item">Banned</a>
                   <a href="#" class="dashboard-nav-dropdown-item">New</a>
            </div>
        </div>
        <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
               <i class="bi bi-bullseye"></i> Visits
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="#"
                   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
            </div>
        </div>
         <a href="#" class="dashboard-nav-item"> <i class="bi bi-gear"></i>Settings </a>
        <a href="#" class="dashboard-nav-item"><i class="bi bi-person-circle"></i> Profile </a>
        <div class="nav-item-divider"></div>

     
        <span class="mx-4"> <button type="submit" class="btn btn-danger w-75 btn-push-down" data-bs-toggle="modal" data-bs-target="#LogOutModal"><i class="bi bi-box-arrow-in-right"></i> Log Out</button> </span>
        </nav>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="LogOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="fs-1 text-danger">
            <i class="bi bi-exclamation-circle"></i>
        </div>
       <p>Are You Sure You Want To Log Out???</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="logOut">Log Out</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


@*code for the pop modal to pass the action to the controller using Ajax Request

link used for help
https://www.phind.com/search?cache=t9cmyhwr3d4lkppqfcy94tv2
*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function() {
    $("#logOut").click(function(e) {
        e.preventDefault();
        
        $.ajax({
            url: '/Auth/LogOut',
            type: 'POST',
            success: function() {
               
                    window.location.href = "/Home/Index";
            },
            error: function() {

                console.log('An error occurred.');
            }
        });
    });
});
</script>
