@using HelpingHands.Models;
@model HelpingHands.Models.ViewModels.RegisterPatientViewModel
@{
    ViewData["Title"] = "Register User";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

    var Suburbs = ViewBag.SuburbList as IEnumerable<Suburb>;
  
}

<div class="container mx-1" style="position: relative;">

    <a asp-action="index" asp-controller="Home" style="position: absolute; top: 0%; left: 1%; text-decoration:none; font-size:20px;" class="text-dark">
        <i class="bi bi-arrow-left-circle-fill"></i>
        Home
    </a>
    <div class="text-center">

        <h2 class="fw-bold">Register With US</h2>
        <h5 class="fw-bold fst-italic">Let Us Heal You</h5>
    </div>
    <div class="col-12 card-body">
        <form asp-action="RegisterUser" asp-controller="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                
                <div class="form-group col-6">
                    <label asp-for="FirstName" class="control-label required"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="LastName" class="control-label required"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-8">
                    <label asp-for="Email" class="control-label required"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="CellNo" class="control-label required"></label>
                    <input asp-for="CellNo" class="form-control" />
                    <span asp-validation-for="CellNo" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                  <label asp-for="AddressLine1" class="control-label required"></label>
                  <input asp-for="AddressLine1" class="form-control"/>
                  <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div> 
            <div class="form-group">
                  <label asp-for="AddressLine2" class="control-label required"></label>
                  <input asp-for="AddressLine2" class="form-control"/>
                  <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">

                    <label asp-for="SelectedCityId" class="control-label required"></label>
                    @Html.DropDownListFor(model => model.SelectedCityId, ViewBag.Cities as SelectList, "-- Select City --", new { @class = "form-control",id = "cityDropdown" })
                    <span asp-validation-for="SelectedCityId" class="text-danger"></span>
                </div>
                <div class="form-group col-6">

                    <label asp-for="SelectedSuburbId" class="control-label required"></label>
                   <select asp-for="SelectedSuburbId" class="form-control" id="suburbDropdown">
                       <option value="">--Select Suburb--</option>
                   </select>
                    <span asp-validation-for="SelectedSuburbId" class="text-danger"></span>
                </div>

            </div>
            
            <div class="form-group">
                <label asp-for="Password" class="control-label required"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label required"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group mt-3 ms-auto">
                    <input type="submit" value="Register" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#suburbDropdown').val('');
        $('#cityDropdown').change(function () {
            var cityId = $(this).val();

            $.ajax({
                url: '/Register/GetSuburbs',
                type: 'GET',
                data: { cityId: cityId },
                success: function (data) {
                    var suburbDropdown = $('#suburbDropdown');
                    suburbDropdown.empty();

                    $.each(data, function (index, item) {
                        suburbDropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                    });
                }
            });
        });
    });
</script>